@import './variables.scss';

@import './mixin.scss';

@import './transition.scss';

@import './element-ui.scss';

@import './sidebar.scss';

body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;

  height: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

label {
  font-weight: 700;
}

html {
  box-sizing: border-box;
  height: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;

  color: inherit;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: ' ';
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.filter-container {
  padding-bottom: 0;
}

.pagination-container {
  padding: 10px 0 !important;
}

.el-pagination {
  padding: 0 !important;
}

.el-cascader-node__postfix {
  top: 10px;
}

.vue-treeselect__placeholder,
.vue-treeselect__multi-value {
  line-height: 38px !important;
}

.vue-treeselect__multi-value-label {
  line-height: 24px !important;
}

.vue-treeselect__multi-value {
  line-height: 24px !important;
}

.el-upload--picture-card,
.el-upload-list--picture-card .el-upload-list__item {
  width: 100px !important;
  height: 100px !important;
}

.el-upload--picture-card {
  line-height: 110px;
}

.show-picture-card .el-upload--picture-card {
  display: none  !important;
}

.remark-tip {
  font-size: 8px;

  color: #777;
}

.tox-tinymce {
  border-top: 0 !important;
}

.circle-status-bar {
  font-size: 12px;

  display: flex;

  margin-bottom: 16px;
  padding-left: 5px;
}

.circle-item {
  display: flex;
  align-items: center;

  margin-right: 8px;

  white-space: nowrap;
}

.circle-item .icon-status {
  display: flex;

  width: 12px;
  height: 12px;
  margin-right: 3px;

  border-radius: 50%;
}

.circle-item .icon-status-1 {
  border-color: #97a8be;
  background-color: #97a8be;
}

.circle-item .icon-status-2 {
  border-color: #67c23a;
  background-color: #67c23a;
}

.circle-item .icon-status-3 {
  border-color: #ff4949;
  background-color: #ff4949;
}

.circle-item .icon-status-4 {
  border-color: #e1b11e;
  background-color: #e1b11e;
}

.table-tree {
  // border-top: 1px solid  #EBEEF5;
  // border-left: 1px solid  #EBEEF5;
  // border-right: 1px solid  #EBEEF5;
  .el-tree-node__content {
    line-height: 48px;

    height: 48px;

    border-bottom: 1px solid  #ebeef5;
  }

  .custom-tree-node {
    font-size: 14px;

    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;

    padding-right: 8px;
  }
}

.svg-icon {
  vertical-align: -.26em  !important;
}

.row-title {
  height: 35px;
  margin-bottom: 5px;
  padding: 8px 0;

  border-bottom: 1px solid #ddd;
}

.row-title .pull-left {
  float: left !important;
}

.row-title .pull-right {
  float: right !important;
}

.row-title h5 {
  font-size: 14px;

  display: inline-block;

  margin-top: 8px;
  margin-top: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-bottom: 0;

  text-indent: 8px;

  border-left: 2px solid #88b7e0;
}

.el-dialog__body {
  padding-top: 0;
}

.list-empty {
  line-height: 50px;

  height: 50px;

  text-align: center;

  color: #97a8be;
}

/*table  start*/
table.list-tb {
  width: 100%;
  /*border-style: none;
border-color: inherit;
border-width: 0;
border-collapse: collapse;
font-size: 9.2pt;
background-color: White;
text-align: left;
margin-right: 0px;*/

  table-layout: fixed;
}

table.list-tb > thead {
  font-weight: bold;
  /*padding-left: 3px;*/
  /*padding-top: 3px;*/

  padding: 3px;

  color: Black;
}

table.list-tb > thead > tr > th {
  font-weight: 300;
  line-height: 42px;

  height: 42px;
  padding: 0;
  padding-left: 3px;

  text-align: left;
  text-align: left;
  white-space: nowrap;

  color: #5f6468;
  border: 0;
  border-bottom: 1px solid #e1e6eb;
}

table.list-tb > tbody > tr {
  height: 20px;
  padding: 2px;
}

table.list-tb > tbody > tr > td {
  line-height: 21px;

  height: 32px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;

  cursor: default;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;

  border: 0;
  border-bottom: 1px solid #e1e6eb;
  background-color: #fff;
}

table.list-tb2 {
  width: 100%;
  /*border-style: none;
border-color: inherit;
border-width: 0;
border-collapse: collapse;
font-size: 9.2pt;
background-color: White;
text-align: left;
margin-right: 0px;*/

  table-layout: fixed;

  color: #606266;
  border-top: 1px solid #e1e6eb;
  border-left: 1px solid #e1e6eb;
}

table.list-tb2 > thead {
  font-weight: bold;
  /*padding-left: 3px;*/
  /*padding-top: 3px;*/

  padding: 3px;
}

table.list-tb2 > thead > tr > th {
  font-weight: 300;
  line-height: 42px;

  height: 42px;
  padding: 0;
  padding-left: 3px;

  text-align: left;
  text-align: left;
  white-space: nowrap;

  border: 0;
  border-bottom: 1px solid #e1e6eb;
}

table.list-tb2 > tbody > tr {
  height: 20px;
  padding: 2px;
}

table.list-tb2  td {
  line-height: 21px;

  height: 32px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-left: 10px;

  cursor: default;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;

  border: 0;
  border-right: 1px solid #e1e6eb;
  border-bottom: 1px solid #e1e6eb;
  background-color: #fff;
}

table.list-tb2 .row1 > td {
  font-size: 14px;
  font-weight: bold;

  padding: 12px 10px;

  color: #909399;
}

table.list-tb2 .row2 > td {
  font-size: 14px;
  font-weight: bold;

  padding: 12px 10px;

  color: #909399;
}

table.list-tb2 .row3 > td {
  font-size: 14px;
}

.refundedAmount {
  font-size: 24px;
}

.refundingAmount {
  font-size: 24px;

  color: #e1b11e;
}

.refundableAmount {
  font-size: 24px;

  color: #67c23a;
}

.c-mode-1 {
  color: #000;
}

.c-mode-2 {
  color: #e1b11e;
}

.spu-search {
  display: flex;
}

.spu-search .name {
  display: flex;
  overflow: hidden;

  width: 300px;
}

.spu-search .desc {
  display: flex;
  flex: 1;

  color: #88b7e0;
}

.my-col {
  min-width: 260px;;
  margin-bottom: 20px;
}

.cur-tab {
  display: flex;

  margin-bottom: 18px;
}

.cur-tab .it-name {
  font-size: 14px;

  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.cur-tab .it-name .title {
  color: #5e6d82;
}

.cur-tab .it-name .name {
  padding: 0 10px;

  color: #2ac06d;
}

.cur-tab .it-switch {
  width: 100px;
}

#app .sidebar-container {
  width: 115px !important;
}

#app .main-container {
  margin-left: 115px;

  background: #fbfbfb !important;
}

#app  .app-main {
  min-height: calc(100vh - 66px);

  background: #fff !important;
  // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

#app .mobile .sidebar-container {
  width: 115px !important;
}

.my-container1 {
  padding: 0;

  background: #fbfbfb;

  .el-menu {
    margin-right: 10px;

    border-right: solid 0 #e6e6e6;
    background: #fbfbfb;
  }

  .el-aside {
    background: #fbfbfb;
  }

  .el-main {
    min-height: calc(100vh - 66px);

    background: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  }
}

.my-page-header {
  margin-bottom: 20px;
}

.my-aside {
  width: 140px !important;
}

.bd-cycle {
  border: 1px solid #909399;
  border-radius: 50%;
}

.my-container2 {
  padding: 10px 0;

  background: #fbfbfb;

  .el-menu {
    border-right: solid 0 #e6e6e6;
    background: #fbfbfb;
  }

  .el-aside {
    background: #fbfbfb;
  }

  .el-main {
    min-height: calc(100vh - 230px);

    background: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  }

  .el-menu-item {
    text-align: center;
  }
}

.cumstom-dialog {
  height: 90%;

  background-color: #fff;

  .el-dialog__body {
    overflow: hidden;

    padding: 10px;
    padding-bottom: 10px;
  }
}

.el-dialog {
  .lcn1 {
    width: 75px;

    text-align: right;
  }
}

.pane-ctl {
  .title {
    padding: 10px 8px;

    border-left: 5px solid #50bfff;
    border-radius: 4px;
    background-color: #ecf8ff;
  }

  .content {
    padding: 20px 8px;
  }
}
