<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caterbao.lumos.locals.dal.mapper.BookFlowMapper">

    <select id="findOne" resultType="com.caterbao.lumos.locals.dal.pojo.BookFlow" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select  ${fields} from BookFlow where 1=1
        <if test="where.FlowId != null">and Id =#{where.FlowId}</if>
        <if test="where.MerchId != null">and MerchId =#{where.MerchId}</if>
        <if test="where.StoreId != null">and StoreId =#{where.StoreId}</if>
        <if test="where.ShopId != null">and ShopId =#{where.ShopId}</if>
        <if test="where.DeviceId != null">and DeviceId =#{where.DeviceId}</if>
        <if test="where.SlotId != null">and SlotId =#{where.SlotId}</if>
        <if test="where.Status != null">and Status =#{where.Status}</if>
    </select>
    <select id="find" resultType="com.caterbao.lumos.locals.dal.pojo.BookFlow" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select ${fields} from BookFlow where 1=1

        <if test="where.MerchId != null and where.MerchId.length() > 0">and merchId =#{where.MerchId}</if>
        <if test="where.StoreId != null">and StoreId =#{where.StoreId}</if>
        <if test="where.ShopId != null">and ShopId =#{where.ShopId}</if>
        <if test="where.DeviceId != null">and DeviceId =#{where.DeviceId}</if>
        <if test="where.SlotId != null">and SlotId =#{where.SlotId}</if>
        <if test="where.Status != null">and Status =#{where.Status}</if>
        <if test="where.ActionCode != null and where.ActionCode.length() > 0 " >and lastActionCode =#{where.ActionCode}</if>
        <if test="where.LikeFlowId != null and where.LikeFlowId.length() > 0">and id like concat('%', #{where.LikeFlowId}, '%')</if>
        <if test="where.LikeDeviceCode != null and where.LikeDeviceCode.length() > 0">and ( deviceId like concat('%', #{where.LikeDeviceCode}, '%')  or deviceCumCode like concat('%', #{where.LikeDeviceCode}, '%')  ) </if>
        <if test="where.MinCreateTime!=null and where.MinCreateTime.length() > 0">
            <![CDATA[ and CreateTime >= #{where.MinCreateTime,jdbcType=TIMESTAMP} ]]>
        </if>
        <if test="where.MaxCreateTime!=null and where.MaxCreateTime.length() > 0">
            <![CDATA[ and CreateTime <= #{where.MaxCreateTime,jdbcType=TIMESTAMP} ]]>
        </if>

    </select>

    <insert id="insert" parameterType="com.caterbao.lumos.locals.dal.pojo.BookFlow">
  insert into BookFlow(id,flowType,merchId,merchName,storeId,storeName,shopId,shopName,deviceId,deviceCumCode,slotId, flowUserId,identityType,identityId,identityName,openActionTime,openRfIds,status,lastActionSn, creator,createTime)
  values(#{id},#{flowType},#{merchId},#{merchName},#{storeId},#{storeName},#{shopId},#{shopName},#{deviceId},#{deviceCumCode},#{slotId},#{flowUserId},#{identityType},#{identityId},#{identityName},#{openActionTime},#{openRfIds},#{status},#{lastActionSn}, #{creator},#{createTime})
    </insert>
    <update id="update" parameterType="com.caterbao.lumos.locals.dal.pojo.BookFlow">
        update BookFlow
        <set>
            <if test="openActionTime != null">openActionTime=#{openActionTime},</if>
            <if test="openRfIds != null">openRfIds=#{openRfIds},</if>
            <if test="openRfIdsSize != null">openRfIdsSize=#{openRfIdsSize},</if>
            <if test="closeActionTime != null">closeActionTime=#{closeActionTime},</if>
            <if test="closeRfIds != null">closeRfIds=#{closeRfIds},</if>
            <if test="closeRfIdsSize != null">closeRfIdsSize=#{closeRfIdsSize},</if>
            <if test="status != null">status=#{status},</if>
            <if test="lastActionSn != null">lastActionSn=#{lastActionSn},</if>
            <if test="lastActionCode != null">lastActionCode=#{lastActionCode},</if>
            <if test="lastActionTime != null">lastActionTime=#{lastActionTime},</if>
            <if test="lastActionRemark != null">lastActionRemark=#{lastActionRemark},</if>
            <if test="mender != null">mender=#{mender},</if>
            <if test="mendTime != null">mendTime=#{mendTime}</if>
        </set>
        where id=#{id}
    </update>
</mapper>
