<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caterbao.lumos.locals.dal.mapper.BookBorrowFlowMapper">

    <select id="findOne" resultType="com.caterbao.lumos.locals.dal.pojo.BookBorrowFlow" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select  ${fields} from BookBorrowFlow where 1=1
        <if test="where.FlowId != null">and Id =#{where.FlowId}</if>
    </select>
    <select id="find" resultType="com.caterbao.lumos.locals.dal.pojo.BookBorrowFlow" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select ${fields} from BookBorrowFlow where 1=1
        <if test="where.Name != null and where.Name.length() > 0">and name like concat('%', #{where.Name}, '%')</if>
        <if test="where.MerchId != null and where.MerchId.length() > 0">and merchId =#{where.MerchId}</if>
    </select>

    <insert id="insert" parameterType="com.caterbao.lumos.locals.dal.pojo.BookBorrowFlow">
  insert into BookBorrowFlow(id,merchId,merchName,storeId,storeName,shopId,shopName,deviceId,deviceCumCode,cabinetId,slotId, clientUserId,identityType,identityId,identityName,status,creator,createTime)
  values(#{id},#{merchId},#{merchName},#{storeId},#{storeName},#{shopId},#{shopName},#{deviceId},#{deviceCumCode},#{cabinetId},#{slotId},#{clientUserId},#{identityType},#{identityId},#{identityName},#{status},#{creator},#{createTime})
    </insert>
    <update id="update" parameterType="com.caterbao.lumos.locals.dal.pojo.BookBorrowFlow">
        update BookBorrowFlow
        <set>
            <if test="openActionResult != 0">openActionResult=#{openActionResult},</if>
            <if test="openActionCode != null">openActionCode=#{openActionCode},</if>
            <if test="openActionTime != null">openActionTime=#{openActionTime},</if>
            <if test="openRfIds != null">openRfIds=#{openRfIds},</if>
            <if test="closeActionResult != 0">closeActionResult=#{closeActionResult},</if>
            <if test="closeActionCode != null">closeActionCode=#{closeActionCode},</if>
            <if test="closeActionTime != null">closeActionTime=#{closeActionTime},</if>
            <if test="closeRfIds != null">closeRfIds=#{closeRfIds},</if>
            <if test="status != null">status=#{status},</if>
            <if test="mender != null">mender=#{mender},</if>
            <if test="mendTime != null">mendTime=#{mendTime}</if>
        </set>
        where id=#{id}
    </update>
</mapper>
