<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caterbao.lumos.locals.dal.mapper.BookerTakeStockSheetMapper">

    <select id="findLast" resultType="com.caterbao.lumos.locals.dal.pojo.BookerTakeStockSheet" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select ${fields}  from BookerTakeStockSheet where 1=1
        <if test="where.MerchId != null">and MerchId =#{where.MerchId}</if>
        <if test="where.StoreId != null">and StoreId =#{where.StoreId}</if>
        <if test="where.ShopId != null">and StoreId =#{where.ShopId}</if>
        <if test="where.DeviceId != null">and DeviceId =#{where.DeviceId}</if>
        <if test="where.SlotId != null">and SlotId =#{where.SlotId}</if>
        ORDER BY CreateTime DESC
        limit 0,1
    </select>

</mapper>
