<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caterbao.lumos.locals.dal.mapper.BookBorrowMapper">
    <select id="findOne" resultType="com.caterbao.lumos.locals.dal.pojo.BookBorrow" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select  ${fields} from BookBorrow where 1=1
        <if test="where.MerchId != null">and MerchId =#{where.MerchId}</if>
        <if test="where.FlowId != null">and FlowId =#{where.FlowId}</if>
        <if test="where.SkuRfId != null">and SkuRfId =#{where.SkuRfId}</if>
        <if test="where.BorrowId != null">and Id =#{where.BorrowId}</if>
        <if test="where.Statuss != null "> and Status in
            <foreach collection="where.Statuss" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="where.CanRenew != null "> and renewCount <![CDATA[ < ]]>   1 and
            TIMESTAMPDIFF(DAY,DATE_FORMAT(NOW(), '%Y-%m-%d 00:00:00'),DATE_FORMAT(ExpireTime, '%Y-%m-%d 00:00:00') ) <![CDATA[ <= ]]> 7
        </if>
        <if test="where.CanBorrow != null "> and Status in(1000,2000)
        </if>
        <if test="where.CanReturn != null "> and Status in (1000,2000)
        </if>
    </select>
    <select id="find" resultType="com.caterbao.lumos.locals.dal.pojo.BookBorrow" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select ${fields} from BookBorrow where 1=1
        <if test="where.MerchId != null">and MerchId =#{where.MerchId}</if>
        <if test="where.FlowId != null">and FlowId =#{where.FlowId}</if>
        <if test="where.SkuRfId != null">and SkuRfId =#{where.SkuRfId}</if>
        <if test="where.ClientUserId != null">and ClientUserId=#{where.ClientUserId}</if>
        <if test="where.Status != null">and Status=#{where.Status}</if>
        <if test="where.BorrowIds != null and where.BorrowIds.size()>0 "> and Id in
            <foreach collection="where.BorrowIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="where.Statuss != null "> and Status in
            <foreach collection="where.Statuss" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="where.CanRenew != null "> and renewCount <![CDATA[ < ]]>   1 and
            TIMESTAMPDIFF(DAY,DATE_FORMAT(NOW(), '%Y-%m-%d 00:00:00'),DATE_FORMAT(ExpireTime, '%Y-%m-%d 00:00:00') ) <![CDATA[ <= ]]> 7
        </if>
        <if test="where.CanBorrow != null "> and Status not in(1000,2000)
        </if>
        <if test="where.CanReturn != null "> and Status in (1000,2000)
        </if>

        <if test="where.LikeSkuName != null and where.LikeSkuName.length() > 0">and skuName like concat('%', #{where.LikeSkuName}, '%')</if>
        <if test="where.LikeFlowId != null and where.LikeFlowId.length() > 0">and id like concat('%', #{where.LikeFlowId}, '%')</if>
        <if test="where.LikeDeviceCode != null and where.LikeDeviceCode.length() > 0">and ( deviceId like concat('%', #{where.LikeDeviceCode}, '%')  or deviceCumCode like concat('%', #{where.LikeDeviceCode}, '%')  ) </if>
        <if test="where.MinBorrowTime!=null and where.MinBorrowTime.length() > 0">
            <![CDATA[ and BorrowTime >= #{where.MinBorrowTime,jdbcType=TIMESTAMP} ]]>
        </if>
        <if test="where.MaxBorrowTime!=null and where.MaxBorrowTime.length() > 0">
            <![CDATA[ and BorrowTime <= #{where.MaxBorrowTime,jdbcType=TIMESTAMP} ]]>
        </if>
        <if test="where.MinReturnTime!=null and where.MinReturnTime.length() > 0">
            <![CDATA[ and ReturnTime >= #{where.MinReturnTime,jdbcType=TIMESTAMP} ]]>
        </if>
        <if test="where.MaxReturnTime!=null and where.MaxReturnTime.length() > 0">
            <![CDATA[ and ReturnTime <= #{where.MaxReturnTime,jdbcType=TIMESTAMP} ]]>
        </if>

    </select>
    <insert id="insert" parameterType="com.caterbao.lumos.locals.dal.pojo.BookBorrow">
  insert into BookBorrow(id,merchId,merchName,storeId,storeName,shopId,shopName,deviceId,deviceCumCode,slotId,flowId,clientUserId,identityType,identityId,identityName,skuId,skuName,skuImgUrl,skuPrice, skuCumCode, skuRfId,borrowSeq,borrowTime,borrowWay,status,expireTime,renewCount,creator,createTime)
  values(#{id},#{merchId},#{merchName},#{storeId},#{storeName},#{shopId},#{shopName},#{deviceId},#{deviceCumCode},#{slotId},#{flowId},#{clientUserId},#{identityType},#{identityId},#{identityName},#{skuId},#{skuName},#{skuImgUrl},#{skuPrice},#{skuCumCode},#{skuRfId},#{borrowSeq},#{borrowTime},#{borrowWay},#{status},#{expireTime},#{renewCount},#{creator},#{createTime})
    </insert>
    <update id="update" parameterType="com.caterbao.lumos.locals.dal.pojo.BookBorrow">
        update BookBorrow
        <set>
            <if test="returnFlowId != null">returnFlowId=#{returnFlowId},</if>
            <if test="returnTime != null">returnTime=#{returnTime},</if>
            <if test="returnWay != null">returnWay=#{returnWay},</if>
            <if test="returnWay != null">returnWay=#{returnWay},</if>
            <if test="status != null">status=#{status},</if>
            <if test="renewCount != null and renewCount>0">renewCount=#{renewCount},</if>
            <if test="renewLastTime != null">renewLastTime=#{renewLastTime},</if>
            <if test="mender != null">mender=#{mender},</if>
            <if test="mendTime != null">mendTime=#{mendTime}</if>
        </set>
        where id=#{id}
    </update>
</mapper>
