<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caterbao.lumos.locals.dal.mapper.BookerSlotMapper">

    <select id="find" resultType="com.caterbao.lumos.locals.dal.pojo.BookerSlot" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select ${fields}  from BookerSlot where DeviceId=#{where.DeviceId}
    </select>

</mapper>
