<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caterbao.lumos.locals.dal.mapper.BookBorrowFlowLogMapper">
    <insert id="insert" parameterType="com.caterbao.lumos.locals.dal.pojo.BookBorrowFlowLog">
  insert into BookBorrowFlowLog(id,trgId,flowId,actionCode,actionName,actionData,actionResult,actionTime,creator,createTime)
  values(#{id},#{trgId},#{flowId},#{actionCode},#{actionName},#{actionData},#{actionResult},#{actionTime},#{creator},#{createTime})
    </insert>
</mapper>
