<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caterbao.lumos.locals.dal.mapper.BookerTakeStockSheetMapper">

    <select id="findOne" resultType="com.caterbao.lumos.locals.dal.pojo.BookerTakeStockSheet"  parameterType="com.caterbao.lumos.locals.dal.LumosSelective" >
        select  ${fields}  from BookerTakeStockSheet  where  id =#{where.SheetId}
    </select>

    <insert id="insert" parameterType="com.caterbao.lumos.locals.dal.pojo.BookerTakeStockSheet">
  insert into BookerTakeStockSheet(id,flowId,merchId,storeId,shopId,deviceId,slotId,quantity,creator,createTime)
  values(#{id},#{flowId},#{merchId},#{storeId},#{shopId},#{deviceId},#{slotId},#{quantity},#{creator},#{createTime})
    </insert>
    <select id="findLast" resultType="com.caterbao.lumos.locals.dal.pojo.BookerTakeStockSheet" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select ${fields}  from BookerTakeStockSheet where 1=1
        <if test="where.MerchId != null">and MerchId =#{where.MerchId}</if>
        <if test="where.StoreId != null">and StoreId =#{where.StoreId}</if>
        <if test="where.ShopId != null">and StoreId =#{where.ShopId}</if>
        <if test="where.DeviceId != null">and DeviceId =#{where.DeviceId}</if>
        <if test="where.SlotId != null">and SlotId =#{where.SlotId}</if>
        ORDER BY CreateTime DESC
        limit 0,1
    </select>

    <update id="update" parameterType="com.caterbao.lumos.locals.dal.pojo.BookerTakeStockSheet">
        update BookerTakeStockSheet
        <set>
            <if test="isUse != null">isUse=#{isUse},</if>
            <if test="mender != null">mender=#{mender},</if>
            <if test="mendTime != null">mendTime=#{mendTime}</if>
        </set>
        where id=#{id}
    </update>

</mapper>
