<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caterbao.lumos.locals.dal.mapper.MerchDeviceMapper">

    <select id="findOne" resultType="com.caterbao.lumos.locals.dal.vw.MerchDeviceVw" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select b.Id,a.CumCode,a.BindStatus,b.SceneMode,b.VersionMode,b.ImgUrl,
        ImeiId,Model,MacAddr,
        b.AppVerName,b.SysVerName,b.CtrlVerName,b.RunMode,b.LastRunTime,b.LastRunStatus,
        c.ShopId,
        (select c1.name from Shop c1 where c1.id=c.ShopId) as  ShopName,
        c.StoreId,
        (select c2.name from Store c2 where c2.id=c.StoreId) as  StoreName
         from
        MerchDevice  a left join  Device b on a.DeviceId=b.Id left join
        ShopDevice c on a.DeviceId=c.DeviceId and c.BindStatus=1
         where 1=1
        <if test="where.MerchId != null and where.MerchId.length() > 0">and a.MerchId=#{where.MerchId}</if>
        <if test="where.DeviceId != null and where.DeviceId.length() > 0">and a.DeviceId=#{where.DeviceId}</if>
    </select>

    <select id="find" resultType="com.caterbao.lumos.locals.dal.vw.MerchDeviceVw" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select b.Id,a.CumCode,a.BindStatus,b.SceneMode,b.VersionMode,b.ImgUrl,
        ImeiId,Model,MacAddr,
        b.AppVerName,b.SysVerName,b.CtrlVerName,b.RunMode,b.LastRunTime,b.LastRunStatus,
        c.ShopId,
        (select c1.name from Shop c1 where c1.id=c.ShopId) as  ShopName,
        c.StoreId,
        (select c2.name from Store c2 where c2.id=c.StoreId) as  StoreName
        from
        MerchDevice  a left join  Device b on a.DeviceId=b.Id left join
        ShopDevice c on a.DeviceId=c.DeviceId and c.BindStatus=1
        where 1=1
        <if test="where.MerchId != null and where.MerchId.length() > 0">and a.MerchId=#{where.MerchId}</if>
        <if test="where.SceneMode != null and where.SceneMode.length() > 0">and b.SceneMode=#{where.SceneMode}</if>
        <if test="where.DeviceCode != null and where.DeviceCode.length() > 0">and (a.DeviceId like concat('%', #{where.DeviceCode}, '%') or a.CumCode like concat('%', #{where.DeviceCode}, '%') ) </if>
    </select>

    <select id="count" resultType="java.lang.Long" parameterType="com.caterbao.lumos.locals.dal.LumosSelective" >
        select count(Id) from MerchDevice where 1=1
        <if test="where.MerchId != null ">and MerchId =#{where.MerchId}</if>
        <if test="where.BindStatus != null ">and BindStatus =#{where.BindStatus}</if>
    </select>

    <select id="isExistCumCode" resultType="java.lang.Long">
        select count(*) from MerchDevice where 1=1
        <if test="deviceId != null and deviceId.length() > 0"> and deviceId!=#{deviceId} </if>
        <if test="cumCode != null and cumCode.length() > 0"> and cumCode=#{cumCode} </if>
        <if test="merchId != null and merchId.length() > 0"> and merchId=#{merchId} </if>
    </select>

    <update id="update" parameterType="com.caterbao.lumos.locals.dal.pojo.MerchDevice">
        update MerchDevice
        <set>
             cumCode=#{cumCode},
            <if test="mender != null">mender=#{mender},</if>
            <if test="mendTime != null">mendTime=#{mendTime}</if>
        </set>
        where DeviceId=#{deviceId} and MerchId=#{merchId}
    </update>

</mapper>
