<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caterbao.lumos.locals.dal.mapper.PrdSkuMapper">
    <select id="findOne" resultType="com.caterbao.lumos.locals.dal.pojo.PrdSku" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select  ${fields} from PrdSku where 1=1
        <if test="where.MerchId != null">and MerchId =#{where.MerchId}</if>
        <if test="where.SkuId != null">and Id =#{where.SkuId}</if>
        <if test="where.SpuId != null">and SpuId =#{where.SpuId}</if>
    </select>

    <select id="find" resultType="com.caterbao.lumos.locals.dal.pojo.PrdSku" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select ${fields} from PrdSku where 1=1
        <if test="where.MerchId != null and where.MerchId.length() > 0">and merchId =#{where.MerchId}</if>
        <if test="where.SpuId != null and where.SpuId.length() > 0">and spuId =#{where.SpuId}</if>
    </select>

    <select id="isExistCumCode" resultType="java.lang.Long">
        select count(*) from PrdSku where 1=1
        <if test="id != null and id.length() > 0"> and id!=#{id} </if>
        <if test="cumCode != null and cumCode.length() > 0"> and cumCode=#{cumCode} </if>
        <if test="merchId != null and merchId.length() > 0"> and merchId=#{merchId} </if>
    </select>

    <insert id="insert" parameterType="com.caterbao.lumos.locals.dal.pojo.PrdSku">
  insert into PrdSku(id,spuId,name,merchId,cumCode,barCode,
  pyIdx,salePrice,specDes,specIdx,isDelete,creator,createTime)
  values(#{id},#{spuId},#{name},#{merchId},#{cumCode},#{barCode},
  #{pyIdx},#{salePrice},#{specDes},#{specIdx},#{isDelete},#{creator},#{createTime}
  )
    </insert>

    <update id="update" parameterType="com.caterbao.lumos.locals.dal.pojo.PrdSku">
        update PrdSku
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="cumCode != null">cumCode=#{cumCode},</if>
            <if test="barCode != null">barCode=#{barCode},</if>
            <if test="pyIdx != null">pyIdx=#{pyIdx},</if>
            <if test="salePrice != null">salePrice=#{salePrice},</if>
            <if test="specDes != null">specDes=#{specDes},</if>
            <if test="specIdx != null">specIdx=#{specIdx},</if>
            <if test="mender != null">mender=#{mender},</if>
            <if test="mendTime != null">mendTime=#{mendTime}</if>
        </set>
        where id=#{id}
    </update>

</mapper>
