<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caterbao.lumos.locals.dal.mapper.PrdSpuMapper">

    <select id="findOne" resultType="com.caterbao.lumos.locals.dal.pojo.PrdSpu" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select  ${fields} from PrdSpu where 1=1
        <if test="where.MerchId != null">and MerchId =#{where.MerchId}</if>
        <if test="where.SpuId != null">and Id =#{where.SpuId}</if>
    </select>

    <select id="find" resultType="com.caterbao.lumos.locals.dal.pojo.PrdSpu" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select ${fields} from PrdSpu where 1=1
        <if test="where.MerchId != null and where.MerchId.length() > 0">and merchId =#{where.MerchId}</if>
    </select>

    <select id="isExistCumCode" resultType="java.lang.Long">
        select count(*) from PrdSpu where 1=1
        <if test="id != null and id.length() > 0"> and id!=#{id} </if>
        <if test="cumCode != null and cumCode.length() > 0"> and cumCode=#{cumCode} </if>
        <if test="merchId != null and merchId.length() > 0"> and merchId=#{merchId} </if>
    </select>

    <insert id="insert" parameterType="com.caterbao.lumos.locals.dal.pojo.PrdSpu">
  insert into PrdSpu(id,name,merchId,cumCode,kindId1,
  kindId2,kindId3,pyIdx,charTags,isDelete,specItems,displayImgUrls,briefDes,detailsDes,creator,createTime)
  values(#{id},#{name},#{merchId},#{cumCode},#{kindId1},
  #{kindId2},#{kindId3},#{pyIdx},#{charTags},#{isDelete},#{specItems},#{displayImgUrls},#{briefDes}
  ,#{detailsDes},#{creator},#{createTime}
  )
    </insert>

    <update id="update" parameterType="com.caterbao.lumos.locals.dal.pojo.PrdSpu">
        update PrdSpu
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="cumCode != null">cumCode=#{cumCode},</if>
            <if test="kindId1 != null">kindId1=#{kindId1},</if>
            <if test="kindId2 != null">kindId2=#{kindId2},</if>
            <if test="kindId3 != null">kindId3=#{kindId3},</if>
            <if test="pyIdx != null">pyIdx=#{pyIdx},</if>
            <if test="charTags != null">charTags=#{charTags},</if>
            <if test="specItems != null">specItems=#{specItems},</if>
            <if test="displayImgUrls != null">displayImgUrls=#{displayImgUrls},</if>
            <if test="briefDes != null">briefDes=#{briefDes},</if>
            <if test="detailsDes != null">detailsDes=#{detailsDes},</if>
            <if test="mender != null">mender=#{mender},</if>
            <if test="mendTime != null">mendTime=#{mendTime}</if>
        </set>
        where id=#{id}
    </update>


</mapper>
