<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caterbao.lumos.locals.dal.mapper.PrdSpuMapper">


    <select id="getSpus" resultType="com.caterbao.lumos.locals.dal.pojo.PrdSpu">
        select * from PrdSpu
    </select>

    <select id="isExistCumCode" resultType="java.lang.Long">
        select count(*) from PrdSpu where 1=1
        <if test="id != null and id.length() > 0"> and id!=#{id} </if>
        <if test="cumCode != null and cumCode.length() > 0"> and cumCode=#{cumCode} </if>
        <if test="merchId != null and merchId.length() > 0"> and merchId=#{merchId} </if>
    </select>

    <insert id="insert" parameterType="com.caterbao.lumos.locals.dal.pojo.PrdSpu">
  insert into PrdSpu(id,name,merchId,cumCode,kindId1,
  kindId2,kindId3,pyIdx,charTags,isDelete,specItems,displayImgUrls,briefDes,detailsDes,creator,createTime)
  values(#{id},#{name},#{merchId},#{cumCode},#{kindId1},
  #{kindId2},#{kindId3},#{pyIdx},#{charTags},#{isDelete},#{specItems},#{displayImgUrls},#{briefDes}
  ,#{detailsDes},#{creator},#{createTime}
  )
    </insert>

</mapper>
