<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caterbao.lumos.locals.dal.mapper.ShopMapper">
    <insert id="insert" parameterType="com.caterbao.lumos.locals.dal.pojo.Shop">
  insert into shop(id,name,merchId,displayImgUrls,contactName,contactPhone,contactAddress,creator,createTime)
  values(#{id},#{name},#{merchId},#{displayImgUrls},#{contactName},#{contactPhone},#{contactAddress},#{creator},#{createTime})
</insert>


</mapper>
