<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caterbao.lumos.locals.dal.mapper.ShopMapper">
    <insert id="insert" parameterType="com.caterbao.lumos.locals.dal.pojo.Shop">
  insert into shop(id,name,merchId,displayImgUrls,contactName,contactPhone,contactAddress,creator,createTime)
  values(#{id},#{name},#{merchId},#{displayImgUrls},#{contactName},#{contactPhone},#{contactAddress},#{creator},#{createTime})
</insert>

    <select id="list" resultType="com.caterbao.lumos.locals.dal.pojo.Shop">
        select * from Shop
    </select>

    <select id="findByShopId" resultType="com.caterbao.lumos.locals.dal.pojo.Shop">
        select * from Shop
        where Id=#{shopId}
    </select>

    <update id="update" parameterType="com.caterbao.lumos.locals.dal.pojo.Shop">
        update Shop
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="displayImgUrls != null">displayImgUrls=#{displayImgUrls},</if>
            <if test="contactName != null">contactName=#{contactName},</if>
            <if test="contactPhone != null">contactPhone=#{contactPhone},</if>
            <if test="contactAddress != null">contactAddress=#{contactAddress},</if>
            <if test="mender != null">mender=#{mender},</if>
            <if test="mendTime != null">mendTime=#{mendTime}</if>
        </set>
        where id=#{id}
    </update>

</mapper>
