<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caterbao.lumos.locals.dal.mapper.StoreMapper">
    <select id="list" resultType="com.caterbao.lumos.locals.dal.pojo.Store" parameterType="java.util.HashMap">
        select ${fields} from Store where 1=1

        <if test="where_name != null and where_name.length() > 0">and name like concat('%', #{where_name}, '%')</if>
    </select>
    <select id="findByStoreId" resultType="com.caterbao.lumos.locals.dal.pojo.Store">
        select * from Store
        where Id=#{storeId}
    </select>
    <select id="isExistName" resultType="java.lang.Long" parameterType="com.caterbao.lumos.locals.dal.pojo.Store">
        select count(*) from Store where 1=1
        <if test="id != null and id.length() > 0"> and id!=#{id} </if>
        <if test="name != null and name.length() > 0"> and name=#{name} </if>
        <if test="merchId != null and merchId.length() > 0"> and merchId=#{merchId} </if>
    </select>
    <update id="update" parameterType="com.caterbao.lumos.locals.dal.pojo.Store">
        update Shop
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="displayImgUrls != null">displayImgUrls=#{displayImgUrls},</if>
            <if test="contactName != null">contactName=#{contactName},</if>
            <if test="contactPhone != null">contactPhone=#{contactPhone},</if>
            <if test="contactAddress != null">contactAddress=#{contactAddress},</if>
            <if test="mender != null">mender=#{mender},</if>
            <if test="mendTime != null">mendTime=#{mendTime}</if>
        </set>
        where id=#{id}
    </update>
</mapper>
