<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caterbao.lumos.locals.dal.mapper.SysMerchUserMapper">
    <select id="findOne" resultType="com.caterbao.lumos.locals.dal.vw.SysMerchUserVw" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select b.id,b.userName,b.fullName,b.avatar,b.phoneNumber,b.email,b.isDisable, b.createTime,a.merchId from SysMerchUser a inner join SysUser b
        on a.UserId=b.Id
        where 1=1
        <if test="where.UserId != null ">and a.UserId =#{where.UserId}</if>

    </select>

    <select id="find" resultType="com.caterbao.lumos.locals.dal.vw.SysMerchUserVw" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select b.id,b.userName,b.fullName,b.avatar,b.phoneNumber,b.email,b.isDisable, b.createTime,a.merchId from SysMerchUser a inner join SysUser b
        on a.UserId=b.Id
        where 1=1
        <if test="where.MerchId != null and where.MerchId.length() > 0">and merchId =#{where.MerchId}</if>
        <if test="where.MerchId != null and where.MerchId.length() > 0">and isMaster =#{where.IsMaster}</if>
        <if test="where.UserName != null and where.UserName.length() > 0">and b.UserName like concat('%', #{where.UserName}, '%')   </if>
    </select>

    <insert id="insert" parameterType="com.caterbao.lumos.locals.dal.pojo.SysMerchUser">
  insert into SysMerchUser(id,merchId,userId,isMaster)
  values(#{id},#{merchId},#{userId},#{isMaster})
    </insert>

</mapper>
