<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caterbao.lumos.locals.dal.mapper.SysUserMapper">

    <resultMap id="user" type="com.caterbao.lumos.locals.dal.pojo.SysUser">
        <result property="id" column="id"/>
        <result property="userName" column="userName"/>
        <result property="passwordHash" column="passwordHash"/>
    </resultMap>

    <select id="findByUserName" resultMap="user">
        select * from SysUser
        <where>
            <if test="userName != null and userName.length() > 0">SysUser.userName=#{userName}</if>
        </where>
    </select>

    <select id="findByUserId" resultMap="user">
        select * from SysUser
        <where>
            <if test="userId != null and userId.length() > 0">SysUser.id=#{userId}</if>
        </where>
    </select>

    <select id="getMenusByUserId" resultType="com.caterbao.lumos.locals.dal.pojo.SysMenu">
        select * from SysMenu
        where depth!=0
    </select>

    <update id="update" parameterType="com.caterbao.lumos.locals.dal.pojo.SysUser">
        update SysUser
        <set>
            <if test="fullName != null">fullName=#{fullName},</if>
            <if test="passwordHash != null">passwordHash=#{passwordHash},</if>
            <if test="mender != null">mender=#{mender},</if>
            <if test="mendTime != null">mendTime=#{mendTime}</if>
        </set>
        where id=#{id}
    </update>

</mapper>
