<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caterbao.lumos.locals.dal.mapper.SysUserMapper">

    <select id="findOne" resultType="com.caterbao.lumos.locals.dal.pojo.SysUser" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select ${fields} from SysUser where 1=1
        <if test="where.UserId != null ">and Id =#{where.UserId}</if>
        <if test="where.UserName != null ">and UserName =#{where.UserName}</if>
    </select>

    <select id="getMenusByUserId" resultType="com.caterbao.lumos.locals.dal.pojo.SysMenu" parameterType="com.caterbao.lumos.locals.dal.LumosSelective">
        select ${fields} from SysMenu where depth!=0
    </select>

    <update id="update" parameterType="com.caterbao.lumos.locals.dal.pojo.SysUser">
        update SysUser
        <set>
            <if test="fullName != null">fullName=#{fullName},</if>
            <if test="passwordHash != null">passwordHash=#{passwordHash},</if>
            <if test="mender != null">mender=#{mender},</if>
            <if test="mendTime != null">mendTime=#{mendTime}</if>
        </set>
        where id=#{id}
    </update>

</mapper>
